.authContainer {
  background-image: url("https://pixelz.cc/wp-content/uploads/2019/03/stock-market-electronic-chart-increase-uhd-4k-wallpaper.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
